/* @media (max-width: 768px) { */
@media (max-width: 769px) {

  * {
    margin: 0;
    padding: 0;
  }

  body {
    text-rendering: optimizeLegibility;
  }

  .new-line {
    display: none;
  }

  .section1 {
    /* width: 100vw; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
  }

  .container1 {
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 320px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    justify-content: center;
  }

  .png-wrap-1-block {
    position: absolute;
    max-width: 400px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 85px auto auto auto;
  }

  .svgicon1 {
    position: absolute;
    width: 50px;
    margin: -15% auto auto 40%;
    text-align: center;
    animation: 1s alternate infinite rotate;
  }

  .svgicon2 {
    position: absolute;
    width: 60px;
    margin: -15% auto auto -55%;
    /* rotate: 30deg; */
    text-align: center;
    animation: 1s alternate infinite rotate2;
  }

  .tittle1 {
    position: relative;
    width: 100%;
    margin-top: 250px;
    font-size: 20px;
  }

  .subtittle p {
    position: relative;
    width: 100%;
    margin: 35px auto auto auto;
    font-family: "HK Grotesk";
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    color: #838FA0;
    text-align: center;
  }

  .new-line-mob {
    display: block;
  }

  h1 {
    width: 290px;
    margin: auto;
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
    font-weight: 600;
    color: #2D2D2D;
  }

  .section2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto auto auto;
  }

  .container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    gap: 60px;
    align-items: center;
  }

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .sticky {
    position: relative;
    width: 100%;
    align-items: center;
  }

  .title {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
  }

  .after-tittle {
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px;
    display: flex;
    width: 300px;
    height: auto;
    margin-top: auto;
    background-color: #F7F9FC;
    border-radius: 10px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .item {
    position: relative;
    width: 200px;
  }


  .right-main {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: 60px auto auto auto;
    gap: 60px;
  }

  .just-text {
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .wrap-right2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
  }

  .after-tittle-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
  }

  .after-tittle-right_wrap {
    margin-top: 30px;
  }

  .item2-wrap .item2-text1 {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .item2-text2 {
    margin: 10px auto auto auto;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .experience-items {
    gap: 30px;
  }
  
  .experience_item-wrapper1,
  .experience_tittle-text-wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin: auto;
  }

  .experience_item-inner-wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin: 10px auto auto auto;
  }


  .date {
    text-align: center;
    color: #4395F6;
  }

  .linksvg {
    display: none;
  }

  .experience_item-wrapper2 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  #skills {
    display: none;
  }

  .tools_wrap,
  .tools_items,
  .sites_items {
    flex-direction: column;
  }

  .section3 {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .section3_container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }

  .section3_tittle {
    position: relative;
    width: 240px;
    margin: 60px auto 30px auto;
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
    font-weight: 600;
    color: #2D2D2D;
  }

  .section3_svg {
    position: relative;
    margin-bottom: 30px;
  }
  
  .section3_svg1 {
    position: absolute;
    top: -20px;
    left: -60px;
    animation: 1s alternate infinite rotate;
  }
  
  .section3_svg2 {
    position: absolute;
    top: -20px;
    right: -60px;
    animation: 1s alternate infinite rotate2;
  }


 

  .footer_container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }
}

.sites_hover {
  display: none;
}

.sites_item:hover .sites_hover {
  display: flex;
  transition: 0.2s linear;
}

.sites_item:active .sites_hover {
  display: flex;
  transition: 0.2s linear;
}

.sites_item:target .sites_hover {
  display: flex;
  transition: 0.2s linear;
}

.sites_item:focus .sites_hover {
  display: flex;
  transition: 0.2s linear;
}



@media (min-width: 769px) and (max-width: 1130px) {
  html {
    zoom: 0.65
 }

 .experience_tittle-text-wrapper2 {
   width: 100%;
 }

.date {
  width: 100%;
}
}