/* @media (max-width: 768px) { */
  @media (max-width: 480px) {

    * {
      margin: 0;
      padding: 0;
    }
  
    .section1 {
      /* width: 100vw; */
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin: auto;
    }
  
    .container1 {
      position: relative;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 320px;
      height: auto;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      justify-content: center;
    }
  
    .png-wrap-1-block {
      position: absolute;
      max-width: 400px;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      margin: 85px auto auto auto;
    }
  
    .svgicon1 {
      position: absolute;
      width: 50px;
      margin: -15% auto auto 40%;
      text-align: center;
      animation: 1s alternate infinite rotate;
    }
  
    .svgicon2 {
      position: absolute;
      width: 60px;
      margin: -15% auto auto -55%;
      /* rotate: 30deg; */
      text-align: center;
      animation: 1s alternate infinite rotate2;
    }
  
    .tittle {
      position: relative;
      width: 100%;
      margin-top: 250px;
      font-size: 20px;
    }
  
    h1 {
      width: 290px;
      margin: auto;
      font-size: 30px;
      line-height: 40px;
      font-style: normal;
      font-weight: 500;
      color: #2D2D2D;
    }



