* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #fff;
  font-family: "HK Grotesk";
}



.section1 {
  /* width: 100vw; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}


.container1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 1110px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  justify-content: center;
}


.line-orange {
  position: relative;
  width: 100vw;
  height: 5px;
  background-color: #EAD300;
  z-index: 3;
}


.line-blue {
  position: absolute;
  width: 100vw;
  /* width: 60%; */
  height: 5px;
  background-color: #4395F6;
  z-index: 2;

  animation: 6s alternate move;
}

@keyframes move {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


.png-wrap-1-block {
  width: 825px;
  margin: 85px auto auto auto;
  align-items: center;
  justify-content: center;
  display: flex;
}


.tittle1 {
  position: relative;
  width: 635px;
  margin: 40px auto auto auto;
}


h1 {
  font-size: 44px;
  line-height: 57px;
  font-style: normal;
  font-weight: 600;
  color: #2D2D2D;
}


.span1 {
  color: #4395F6;
  animation: ease;
  transition: 1s;
}


.span1:hover {
  animation: ease;
  transition: 0.4s;
  color: #EAD300;
}


.subtittle p {
  position: relative;
  margin: 35px auto auto auto;
  font-family: "HK Grotesk";
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #838FA0;
  text-align: center;
}


.arrowsvg {
  position: relative;
  display: block;
  margin: 35px auto auto auto;
  animation: 1s alternate infinite jump;
}

@-webkit-keyframes jump {
  from {
    top: 0px;
  }

  to {
    top: 8px;
  }
}


.svgicon1 {
  position: absolute;
  margin: -15% auto auto 60%;
  text-align: center;
  animation: 1s alternate infinite rotate;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.svgicon2 {
  position: absolute;
  margin: -15% auto auto -70%;
  /* rotate: 30deg; */
  text-align: center;

  animation: 1s alternate infinite rotate2;
}


@-webkit-keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}



/* <!-- Show after scroll --> */
.element-animation {
  opacity: 0;
  /* add this class to element for show-anim*/
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

/* <!-- Show after scroll --> */



.blue {
  color: #4395F6;
}



.section2 {
  width: 100%;
  height: auto;
  display: flex;
  margin: 130px auto auto auto;
}

.container2 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 1140px;
  height: 2000px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}




.left {
  position: relative;
  width: 255px;
  height: auto;
}

.sticky {
  position: sticky;
  top: 30px;
}

.title {
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
}

.after-tittle {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  padding: 30px;
  display: flex;
  width: 100%;
  top: 30px;
  background-color: #F7F9FC;
  border-radius: 10px;
  gap: 25px;
}

.svg-left{
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;

}

.item {
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  cursor: pointer;
}


.item-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.item1-text1 {
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2E2E48;
  align-content: flex-start;
  align-items: center;
  gap: 10px;
}

.item1-text2 {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #79819A;
  text-decoration: none;
}


.right {
  position: relative;
  width: 825px;
  height: auto;
}


.just-text {
  width: 650px;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #79819A;
}
